{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Blog</h1>
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div class="top-buttons">
		{{ form_widget(form.submit) }}
		<a href="{{ path('ribsadmin_blog_index') }}" class="delete">Cancel</a>
	</div>
	
	<div class="content-block">
		<h2>SEO informations</h2>
		
		<div class="block mid-width">
			{{ form_label(form.titleTag) }}
			{{ form_widget(form.titleTag) }}
		</div>
		
		<div class="block mid-width">
			{{ form_label(form.url) }}
			{{ form_widget(form.url) }}
		</div>
		
		<div class="block no-input">
			{{ form_label(form.descriptionTag) }}
			{{ form_widget(form.descriptionTag) }}
		</div>
	</div>
	
	<div class="content-block">
		<h2>Article informations</h2>
		
		<div class="block mid-width">
			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
		</div>
		
		<div class="block mid-width">
			{{ form_label(form.publicationDate) }}
			{{ form_widget(form.publicationDate) }}
		</div>
	</div>
	
	<div class="content-block">
		<h2>Content of the article</h2>
		
		<div class="block no-input">
			{{ form_label(form.article) }}
			{{ form_widget(form.article) }}
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}